* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-container {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 6% auto;
    box-shadow: 3px 10px 20px 6px hsla(0, 0%, 0%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #8b9a96 50%, #d3d3de 50%);
}

form .con {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.login-header {
    margin: 2% auto 10% auto;
    text-align: center;
}

header h2 {
    font-size: 250%;
    color: #3e403f;
}

header p {
    letter-spacing: 0.05em;
}

input[class="form-input"] {
    width: 330px;
    height: 50px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    margin: auto;
    display: block;
}

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.button {
    display: block;
    color: #252537;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}

.sign-up {
    background: #B8F2E6;
    width: auto;
    display: block;
}

button:hover {
    transform: translatey(2px);
    box-shadow: none;
}

.checkButton{
    color: #252537;
    width: 80px;
    height: 50px;
    padding: 0px auto;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    letter-spacing: 0.05em;
}

body {
    background-image: linear-gradient(to top, #06908a 0%, #ffffff 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Vibur', cursive;
    font-family: 'Abel', sans-serif;
    opacity: .95;
  }