body {
  background-image: linear-gradient(to top, #000000 0%, #ffe8e8 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Vibur", cursive;
  font-family: "Abel", sans-serif;
  opacity: 0.95;
}
header {
  background: fixed rgb(193 193 210);
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
footer {
  height: 30px;
  background-color: lightgray;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  margin-top: 20px;
}
section {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  height: 30px;
  color: #252537;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
  margin: 7% auto;
  letter-spacing: 0.05em;
}

.new_note_container {
  min-width: 200px;
  max-width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(212 95 95) 90%
  );
  min-height: 200px;
  box-shadow: -20px -20px 20px 0px rgba(0, 0, 0, 0.5);
  margin: 2.5px;
}

.completed_note_container {
  min-width: 200px;
  max-width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(130 212 132) 90%
  );
  min-height: 200px;
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.5);
  margin: 2.5px;
}

.completedButton {
  background-color: rgb(72, 236, 72);
  margin: 0px 0px 5px 8px;
}

.deleteButton {
  background-color: rgb(236, 72, 72);
  margin: 0px 0px 5px 8px;
}

.addNoteButton {
  background-color: rgb(92, 92, 230);
}

#new_note_data {
  height: 30px;
}

.title {
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-size: larger;
  font-weight: 500;
}

.subTitle {
  display: flex;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  justify-content: space-around;
  text-shadow: -8px 6px 9px black;
}

@media screen and (max-width: 410px){
  .addNoteButton {
    display: block;
  }
}